.container {
  gap: 10px;
  padding: 10px;
  width: 100%px;
  height: 500px;
  display: flex;
  overflow-y: auto;
  border-radius: 5px;
  flex-direction: column;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
}

.container img {
  max-width: 80px;
  border-radius: 10px;
}

.container .text-container-left {
  border-radius: 0% 20px 20px 20px;
  background-color: #1f2c34;
}

.container .text-container-right {
  height: 40px;
  padding-right: 14px;
  display: flex;
  color: #fee;
  align-items: center;
  border-radius: 20px 0px 20px 20px;
  background-color: #005d4b;
  justify-content: flex-end;
}
.text-container {
  margin-left: 10px;
  color: #ffffff;
}
.username {
  color: red;
  margin-left: 10px;
}

