.container {
  gap: 10px;
  padding: 16px;
  width: auto;
  height: 550px;
  display: flex;
  overflow-y: auto;
  border-radius: 5px;
  flex-direction: column;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
}

.container img {
  max-width: 80px;
  border-radius: 10px;
}

.container .text-container-left {
  width: 100px;
  border-radius: 0% 20px 20px 20px;
  background-color: #1f2c34;
  user-select: none;
}

.container .text-container-right {
  height: 40px;
  min-width: 80px;
  width: auto;
  margin-left: auto;
  padding-right: 14px;
  display: flex;
  color: #fee;
  align-items: center;
  border-radius: 20px 0px 20px 20px;
  background-color: #005d4b;
  justify-content: flex-end;
  border: none;
  user-select: none;
}

.text-container {
  margin-left: 10px;
  color: #ffffff;
}
.username {
  color: red;
  margin-left: 10px;
}
.ChatInput {
  padding: 6px 20px;
  margin: 0;
  width: 82%;
  height: 2rem;
  border-radius: 22px;
  border: 1px solid;
  background-color: #1f2c34;
  color: #8b98a1;
  font-size: 16px;
}
.ChatButton {
  font-size: 16px;
  margin-left: 4px;
  width: 4.8rem;
  height: 2.2rem;
  border-radius: 10px;
  border: 1px solid;
}
.ChatButton:hover {
  background-color: grey;
  transition: 0.4s;
  color: white;
  cursor: pointer;
}

.delete-button {
  width: 100px;
  height: 30px;
  position: absolute;
  color: wheat;
  background-color: rgb(176, 134, 219);
}

