.ChatInput {
  width: 85%;
  height: 2rem;
  border-radius: 10px;
  border: 1px solid rgb(147, 144, 144);
}
.ChatButton {
  font-size: 16px;
  margin-left: 4px;
  width: 6.8rem;
  height: 2.2rem;
  border-radius: 10px;
  border: 1px solid rgb(147, 144, 144);
}
.ChatButton:hover {
  background-color: grey;
  transition: 0.4s;
  color: white;
  cursor: pointer;
}

.exit-btn-container {
  display: flex;
  width: 100%;
  margin-top: 8em;
  justify-content: center;
  align-items: center;
}

.exit-btn-container .ExitButton {
  font-size: 16px;
  justify-content: center;
  width: 6rem;
  height: 2.2rem;
  border-radius: 10px;
  border: 1px solid rgb(147, 144, 144);
}
.exit-btn-container .ExitButton:hover {
  background-color: grey;
  transition: 0.4s;
  color: white;
  cursor: pointer;
}
