.LoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.userInput {
  border-radius: 20px;
  border: 1px solid red;
  display: flex;
  margin-top: 20px;
  text-align: center;
}
.loginButton {
  margin-top: 10px;
  margin-left: 38%;
  background-color: red;
  border: 1px solid black;
}
